header{
    text-align: right;
    background-color: rgb(233, 230, 219);
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
    padding:35px;

    
}
header a{
    border:1px solid rgb(10, 10, 10);
    background-color:#6db7f3;
    color: white;
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
}
body{
    background-color: #6db7f3;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
}
/*This is another CSS comment*/
.wrapper{
    border-radius: 5px;
    background-color: rgb(245, 241, 219);
    border: 1px solid rgb(10, 10, 10);
    padding: 60px;
    padding-top: 20px;
    width: 300px;
    height: 400px;
    position:fixed;
    top:110px;
    right: 400px;
    left: 400px;
    box-shadow: 5px 10px rgba(10, 10, 10, 0.295);
}

.wrapper {
    text-align: left;
}

.wrapper input{
    width:300px;
    height:30px;
    margin: 10px;

}

button{
    border:1px solid rgb(10, 10, 10);
    border-radius:5px;
    background-color: #6db7f3 ;
    width:300px;
    height: 30px;
    color:rgb(233, 230, 219);
    margin: 10px;
}

footer{
    text-align: center;
    margin:20px;
}